*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position:absolute ;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;

    background-color: aliceblue;
    
}

.nav-links{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    
}
    .nav-links li{
        margin: 0 30px;
        list-style: none;
        color: black;



    }

header{
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.wallpapersafari.com/93/6/53tkyL.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items:center;
    justify-content:left;
}
.head{
    margin: 50px;
    color: white;
    text-align: center;
}
.link{
    
    padding: 8px 15px;
    background-color: white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    
}

