.content{
    background-color: lightblue;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
@media screen and (max-width:600px){
    .content{
        background-color: orange;
        font-size: 16px;
    }
}
@media print{
    .content{
        background-color: aqua;
        font-size: 13px;
        color: white;
        border: 1px solid black;
    }
}